<ion-header>
  <ion-navbar color="primary">
    <ion-title>Setup Profile</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="bg_clr">

    <!-- img to upload display picture -->
    <img src="{{avatar}}" class="extra-avatar" (click)="uploadimage();"/>
    <ion-icon class="camera" ios="ios-camera" md="md-camera" (click)="uploadimage();"></ion-icon>

    <ion-list class="center top-padding">
      <ion-item>
        <ion-label><ion-icon class="theme-color theme-icon" ios="ios-person" md="md-person"></ion-icon></ion-label>
        <ion-input type="text" placeholder="enter display name" [(ngModel)]="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label><ion-icon class="theme-color theme-icon" ios="ios-bowtie" md="md-bowtie"></ion-icon></ion-label>
        <ion-input type="text" placeholder="enter profession" [(ngModel)]="profession"></ion-input>
      </ion-item>

        <p style="font-family:'Times New Roman';font-size:18px;">
            Enter a display name , your profession and upload a profile picture that will
            help your friends find you. Your display name , profession and picture are visible to other
            spry users.
        </p>

    </ion-list>

        <button ion-button class="theme-icon home-btn" (click)="completeregistration();">
              Complete
        </button>

</ion-content>