page-setup {

}

page-setup .bottom-padding{
    padding-bottom:4%;
}

page-setup .extra-avatar{
     border-radius:50%;
     height: 150px;
     width: 150px;
     box-shadow: 4px -4px 6px #8b9897;
     position:relative;
     left: 50%;
     margin-left: -75px;
     filter: blur(0px)
}

page-setup .camera{
    font-size: 34px;
    color: grey;
    position: absolute;
    left: 50%;
    top: 100px;
    margin-left: -17px;
}

page-setup .top-padding{
    margin-top: 20px;
}

page-setup .scroll-content{
    padding-bottom: 0px !important;
}

page-setup ion-item{
    background-color: #f7f8fb !important;
}

.home-btn{
    position:relative;
    margin-top:7%;
    width: 100%;
}

