page-contacts {

}

page-contacts .center{
    text-align: center;
}

page-contacts .theme-color{
    color: #12c2f4;
}

page-contacts .theme-icon{
    font-size:20px;
}

page-contacts a{
    text-decoration:none;
}

page-contacts .lonely{
    margin-top:15%;
}

#search{
   display: none;
}

.item-md ion-avatar ion-img, .item-md ion-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
}

.item-md {
    position: relative;
    padding-right: 0;
    padding-left: 0px!important;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background-color: #f7f8fb !important;
    box-shadow: none;
}

.item-ios {
    position: relative;
    padding-right: 0;
    padding-left: 0px!important;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background-color: #f7f8fb !important;
    box-shadow: none;
}

.item-md h2, .item-ios h2{
    font-size: 1.7rem;
    margin-bottom:2px;
    color:#12c2f4;
    font-weight: 500;
}

.item-md p, .item-ios p{
    font-size: 1.4rem;
    margin-top:2px;
}

ion-header.header.header-md {
    border-bottom: 1px solid #12c2f4;;
}

.search{
    font-size:2 rem;
}

page-contacts .avatar{
    height: 4em !important;
    width: 4em !important;
}