<ion-header>
  <ion-navbar color="primary" id="navbar">
    <!--<ion-buttons style="position:relative;margin-right:25px;" start (click)='animateSearch()'>
      <button class="search_icon" ion-button>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>-->
        <ion-title>Contacts</ion-title>
    <ion-buttons end (click)='presentPopover()'>
      <button class="search_icon" ion-button>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
      <!--<ion-item class="bottom-padding" id="search">
        <ion-input class="search" placeholder=" Search..."></ion-input>
      </ion-item>-->
</ion-header>

<ion-content padding class="bg_clr">
  
  <ion-list>
    <ion-item *ngFor="let contact of contactlist"  [ngStyle]="{display:contact.display}">
      <ion-avatar item-left style="float:left !important;" (click)="showProfile(contact.number)">
        <img src="{{contact.avatar}}">
      </ion-avatar>
      <h2 (click)="showchat(contact.number)">{{contact.name}}</h2>
      <p (click)="showchat(contact.number)">{{contact.status}}</p>
    </ion-item>
  </ion-list>

</ion-content>
