<ion-tabs>
      <ion-tab tabIcon="people" class="theme-color theme-icon" [root]="contacts"></ion-tab>
      <!--<ion-tab tabIcon="chatbubbles" class="theme-color theme-icon" [root]="chats"></ion-tab>-->
      <ion-tab tabIcon="list-box" class="theme-color theme-icon" [root]="timeline"></ion-tab>
      <ion-tab tabIcon="pricetags" class="theme-color theme-icon" [root]="mygigs"></ion-tab>
</ion-tabs>