<ion-header>
  <ion-navbar color="primary" id="navbar">
    <ion-title>{{name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class='bg_clr'>
<ion-list no-lines id="chats">

  <ion-item *ngFor="let msg of messages" >

   <div class="chatBubble">
      <img class="profile-pic {{msg.position}}" src="{{msg.img}}">
      <div class="chat-bubble {{msg.position}}">
        <div class="message" [ngStyle]="{display:msg.sdisplay}">{{msg.content}}</div>
        <div class="message" [ngStyle]="{display:msg.idisplay}"><img src="{{msg.content}}"/></div>
        <div class="message-detail">
            <span style="font-weight:bold;">{{msg.senderName}} </span>,
            <span>{{msg.time}}</span>
        </div>
     </div>
   </div>
   
  </ion-item>

</ion-list>
</ion-content>

<!-- footer / send message section -->
<ion-footer>
  <ion-navbar id="footer-navbar">
     <ion-item>
       <!-- message text area -->
        <div class="chatBubble">
            <img class="profile-pic right" src="assets/img/sned.png" (click)="sendmessage()">
            <div class="chat-bubble right">
              <textarea [(ngModel)]="message"></textarea>
            </div>
        </div>
     </ion-item>
  </ion-navbar>
</ion-footer>