page-profile {

}

page-profile ion-card ion-card-header{
    color: #12c2f4 !important;
}

page-profile .theme-color{
    margin-left:16px;
}

.card-title {
    margin: 0;
    padding: 0;
}

.card-header{
    margin: 2px;
    padding: 2px;
}


.card-content {
    padding: 2px;
}