
<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{name}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="bg_clr">
     <ion-card>
      <ion-card-content>
          <img src="{{avatar}}"  (click)="showModal(avatar);"/>
      </ion-card-content>
     </ion-card>

     <ion-card>
      <ion-card-header>
      <ion-row class="brdr-tp">
          <ion-col>
              <div icon-left clear small no-padding>{{name}}</div>
          </ion-col>
      </ion-row>
      </ion-card-header>
      <ion-card-content>
      <ion-row class="brdr-tp">
          <ion-col>
              <div icon-left clear small no-padding>{{profession}}</div>
          </ion-col>
      </ion-row>
      </ion-card-content>
      <ion-card-header>
      <ion-row class="brdr-tp">
          <ion-col>
              <div icon-left clear small no-padding>Status</div>
          </ion-col>
      </ion-row>
      </ion-card-header>
      <ion-card-content>
      <ion-row class="brdr-tp">
          <ion-col>
              <div icon-left clear small no-padding>{{status}}</div>
          </ion-col>
      </ion-row>
      </ion-card-content>
     </ion-card>

     <ion-card>
      <ion-card-header>
        Mobile
      </ion-card-header>
      <ion-card-content>
      <ion-row class="brdr-tp">
          <ion-col>
              <div icon-left clear small no-padding>{{number}}</div>
          </ion-col>
      </ion-row>
      </ion-card-content>
     </ion-card>

</ion-content>
