<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Timeline</ion-title>
    <ion-buttons end class="search_icon">
      <ion-icon name="ios-search" color="light"></ion-icon>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg_clr">
  <ion-card>
    <ion-card-title>
      <div class="post-picture-details">
        <div class="profile-user-details">
          <div class="user-name">Mac Book pro Retina 2012</div>
        </div>
      </div>
    </ion-card-title>
      <div class="image-box">
         <span class="pricetag">2600</span>
         <img src="assets/img/1.jpg"  (click)="showModal('assets/img/1.jpg');"/>
      </div>
    <ion-card-content>
      <p style="color: #777;">
        When someone will mark you Mac Book pro Retina 2012 Mac Book pro Retina 2012.
      </p>
    </ion-card-content>
      <ion-row class="brdr-tp">
         <div class="post-picture-details">
            <div class=" profilepic-hght-wdth">
              <img src="assets/img/user1.jpg" >
            </div>
            <div class="profile-user-details">
              <div class="user-name">Samantha Rowan</div>
              <p class="user-activity-time">@ Als Limited, Australia</p>
            </div>
         </div>
      </ion-row>

    <ion-row class="brdr-tp">
    <ion-col>
      <button ion-button icon-left clear small no-padding>
        <ion-note>
          <ion-icon name="locate"></ion-icon>
          <ion-badge item-right>5 K.m</ion-badge>   
        </ion-note>
      </button>
    </ion-col>
    <ion-col center text-right>
      <ion-note>
          <ion-icon name="eye" item-left></ion-icon>
          <ion-badge item-right>26</ion-badge>
      </ion-note>
    </ion-col>
  </ion-row>
  </ion-card>
  
</ion-content>