<ion-header>
  <ion-navbar color="primary">
    <ion-title>Enter Code</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="bg_clr">
    <ion-list class="center">

      <ion-item class="bottom-padding">
        <ion-label><ion-icon class="theme-color theme-icon" ios="ios-lock" md="md-lock"></ion-icon></ion-label>
        <ion-input type="number" value="" max-length="4" [(ngModel)]="code" placeholder="enter verification code"></ion-input>
      </ion-item>
      <h3>9734072595</h3>
      <p style="font-family:'Times New Roman';font-size:18px;">
        Enter the verification code you received via text message. If you didn't
        receive a verification code ,please try the following.
      </p>
      <a href="#" (click)="sendcode();">Resend Code</a><br><br>

    </ion-list>

    <button ion-button class="theme-icon home-btn" (click)="verify();">
        Verify
    </button>

</ion-content>