<ion-header>
  <ion-navbar color="primary">
    <ion-title>Mobile verification</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="bg_clr">
    <ion-list class="center">

      <ion-item class="bottom-padding">
        <ion-label><ion-icon class="theme-color theme-icon" ios="ios-call" md="md-call"></ion-icon></ion-label>
        <ion-input type="number" value="" max-length="10" placeholder="923007112617" [(ngModel)]="mobile"></ion-input>
      </ion-item>
      <p style="font-family:'Times New Roman';font-size:18px;">
        Please provide your phone number along with country code.
        By tapping NEXT, you agree to spry's <a href="#">Terms and Conditions of Use</a> and
        <a href="#">Privacy Policy</a>.
      </p>
    </ion-list>
     <button ion-button  class="theme-icon home-btn" (click)="sendoOTP();">
            Next
     </button>
</ion-content>
