*{
  font-family: 'Quicksand', sans-serif;
}

.center{
    text-align: center;
}

.theme-color{
    color: #12c2f4;
}

.theme-icon{
    font-size:20px;
}

a{
    text-decoration:none;
}

.lonely{
    margin-top:15%;
}

*{
  font-family: 'Quicksand', sans-serif;
}
img{
  max-width: 100%;
}
.toolbar {
  // min-height: 48px;
  padding: 0 16px;
  // font-size: 17px;
}
.toolbar .bar-buttons{
  margin: 0;
  text-align: left;
  min-width: 0;
  width: 15px;
  padding: 0;
}

.toolbar-title {
  padding: 0 16px;
  // font-size: 18px;
}
.bg_clr{
  background-color: #f7f8fb;
}
ion-card.card{
  margin: 0 0 16px 0; 
  width: 100%;
  box-shadow: none;
  border:  1px solid rgba(0, 0, 0, 0.13);
  border-bottom: 2px solid rgba(204, 204, 204, 0.6);  
}
.tabs .tab-button[aria-selected="true"] .tab-button-icon {
    color: #12c2f4;
    transform: none;
}
ion-card.card:last-child {
    margin: 0 ;
}
.bar-button-menutoggle-ios ion-icon {
    padding: 0;
    left: 4px;
    position: relative;
}
.bar-button-menutoggle-md ion-icon {
    position: relative;
    left: 1px;
    padding: 0;
}
.bar-button-menutoggle-wp ion-icon {
    padding: 0;
    font-size: 2.4rem;
    position: relative;
    left: 2px;
}
.search_icon{
    font-size: 1.9rem;
}
.search_icon ion-icon {
    font-size: 2 rem;
    position: relative;
    top: 1px;
    z-index: 9999;
}
.tabs .tab-button[aria-selected=true] {
    border: 0;
}
.header-md::after , .footer-md::before{
    display: none;
}
ion-header.header.header-md {
    border-bottom: 1px solid #0d91b6;
}
.tabs-md .tabbar {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
    background-image: none;
}

.popover-content{
    left: 100% !important;
    top: 3px !important;
    max-width: 200px;
    min-width:200px; 
    margin-left: -203px;
}