<ion-content padding class="">
  <ion-slides pager="true" parallax="true" padding>

    <ion-slide>
      <img src="assets/img/spry.png">
      <h1>Live & Experience Together</h1>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/marked.png">
      <h1>Be close to contacts</h1>
      <!--<p class="theme-color">Share location with contacts ...</p>-->
    </ion-slide>

    <ion-slide>
      <img src="assets/img/buysell.png">
      <h1>Buy and sell</h1>
      <!--<p class="theme-color">Buy or sell with contacts ...</p>-->
    </ion-slide>

    <ion-slide>
      <img src="assets/img/spry.png">
      <h1>Get started now!</h1>
      <button ion-button  (click)="navHome()">
        Start using the app
      </button>
    </ion-slide>

  </ion-slides>
</ion-content>