page-chats {

}

page-chats .center{
    text-align: center;
}

page-chats .theme-color{
    color: #12c2f4;
}

page-chats .theme-icon{
    font-size:20px;
}

page-chats a{
    text-decoration:none;
}

page-chats .lonely{
    margin-top:15%;
}

page-chats #search{
   display: none;
}

page-chats .item-md ion-avatar ion-img, .item-md ion-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
}

page-chats .item-md {
    position: relative;
    padding-right: 0;
    padding-left: 0px!important;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background-color: #f7f8fb !important;
    box-shadow: none;
}

page-chats .item-ios {
    position: relative;
    padding-right: 0;
    padding-left: 0px!important;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background-color: #f7f8fb !important;
    box-shadow: none;
}

page-chats .item-md h2, .item-ios h2{
    font-size: 1.7rem;
    margin-bottom:2px;
    color:#12c2f4;
    font-weight: 500;
}

page-chats .item-md p, .item-ios p{
    font-size: 1.4rem;
    margin-top:2px;
}

page-chats ion-header.header.header-md {
    border-bottom: 1px solid #12c2f4;;
}

page-chats .search{
    font-size:2 rem;
}

page-chats .avatar{
    height: 4em !important;
    width: 4em !important;
}

page-chats .badge-md , page-chats .badge-ios{
   background-color: #7df1bc !important;
}