<ion-header>
  <ion-navbar color="primary" id="navbar">
    <!--<ion-buttons style="position:relative;margin-right:25px;" start (click)='animateSearch()'>
      <button class="search_icon" ion-button>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>-->
        <ion-title>Chats</ion-title>
    <ion-buttons end (click)='presentPopover()'>
      <button class="search_icon" ion-button>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
      <!--<ion-item class="bottom-padding" id="search">
        <ion-input class="search" placeholder=" Search..."></ion-input>
      </ion-item>-->
</ion-header>

<ion-content padding class="bg_clr">
  
  <ion-list>
    <ion-item (click)="showchat(number)">
      <ion-avatar item-left style="float:left !important;" >
        <img src="assets/img/avatar.png">
      </ion-avatar>
      <h2>Pushpendu Ghosh</h2>
      <p><b>Hey bro ! whats up ?</b></p>
      <ion-badge item-right style="color:green;">26</ion-badge>
    </ion-item>
  </ion-list>

</ion-content>
