<ion-header>
  <ion-navbar color="primary">
    <ion-title>Add new gig</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg_clr">

<!-- top image section -->

     <ion-card class="image">
      <!--<ion-card-content>
          <img src="assets/img/noimage.jpg" />
      </ion-card-content>-->
      <ion-row class="brdr-tp">
        <ion-col>
            <img src="{{image1}}"/>
        </ion-col>
        <ion-col>
            <img src="{{image2}}"/>
        </ion-col>
        <ion-col>
            <img src="{{image3}}"/>
        </ion-col>
      </ion-row>
     </ion-card>

<!-- end of image section -->

     <!-- gig title here -->
     <ion-card>
      <ion-card-content>
          <ion-textarea placeholder="Enter gig tiitle (50 characters max)" [(ngModel)]="title"></ion-textarea>
      </ion-card-content>
      <ion-row class="brdr-tp">
         <ion-col class="theme-color"><b style="color:green">{{50-title.length}}</b> characters left</ion-col>
      </ion-row>
     </ion-card>

     <!-- gig price here -->
     <ion-card>
      <ion-card-content>
          <ion-input placeholder="Enter gig price" [(ngModel)]="price" type="number"></ion-input>
      </ion-card-content>
     </ion-card>

     <!-- gig title here -->
     <ion-card>
      <ion-card-content>
          <ion-textarea rows="8"  placeholder="Enter gig description (300 characters max)" [(ngModel)]="description"></ion-textarea>
      </ion-card-content>
      <ion-row class="brdr-tp">
         <ion-col class="theme-color"><b style="color:green">{{300-description.length}}</b> characters left</ion-col>
      </ion-row>
     </ion-card>

     <button ion-button class="theme-icon home-btn" (click)="createGig()">
              Create Gig
     </button>     

</ion-content>  