page-addgig ion-card ion-card-header{
    color: #12c2f4 !important;
}

page-addgig .theme-color{
    margin-left:16px;
}

.card-title {
    margin: 0;
    padding: 0;
}

.card-header{
    margin: 1px;
    padding: 1px;
}

.card-content {
    padding: 1px;
}