
page-mygigs {
      .swiper-pagination-bullet-active {
          background: transparent;
      }
      .swiper-pagination-bullet {
          background: transparent;
      }

      .swiper-slide img{
          width:100%;
      }
}

page-mygigs .card-title {
    margin: 0;
    padding: 0;
}

page-mygigs .post-picture-details{
    display: flex;
    padding: 8px;
}

page-mygigs .post-picture-details .profilepic-hght-wdth {
    height: 40px;
    width: 40px;
    float: left;
    overflow: hidden;
    border-radius: 8px;
    margin-right: 8px;
}

page-mygigs .post-picture-details .profile-user-details{
    flex: 1;
}

page-mygigs .post-picture-details .user-name {
    font-size: 17px;
    color: #12c2f4;
    font-weight:500;
}

page-mygigs .post-picture-details .chat_icon {
   font-size: 22px;
   color: #12c2f4;
   margin: auto;
}

page-mygigs .post-picture-details .user-activity-time {
    color: #777;
    font-size: 13px;
}

page-mygigs .card-content {
    padding: 8px;
}

page-mygigs .brdr-tp{
    border-top: 1px solid #ddd;
}

page-mygigs ion-col {
    padding: 4px 8px;
}

page-mygigs .color-locate{
    color: #38648c;;
}

page-mygigs .card .note-md {
    font-size: 1.5rem;
}

page-mygigs .image-box {
    padding:0px;
    margin:0px;
}

/** code for price tag **/
page-mygigs .pricetag{
    white-space:nowrap;
    position:relative;
    margin:0 5px 0 10px;
    display:inline-block;
    height:25px;
    border-radius: 0 5px 5px 0;
    padding: 0 25px 0 15px;
    background:#E8EDF0;
    border: 1px solid #C7D2D4;
    color:#999;
    line-height:23px;
    top: 25px;
    z-index:9999;
}

page-mygigs .pricetag:after{
    position:absolute;
    right:0;
    margin:1px 7px;
    font-weight:bold;
    font-size:19px;
    content:"\00D7";
}

page-mygigs .pricetag:before{
    position:absolute;
    background:#E8EDF0;
    content:"\25CF";
    color:white;
    text-shadow: 0 0 1px #aaa;
    font-size:12px;
    line-height:13px;
    text-indent:6px;
    top:3px;
    left:-10px;
    width: 18px;
    height: 18px;
    transform: rotate(45deg);
    border-left:1px solid #C7D2D4;
    border-bottom:1px solid #C7D2D4;
}

