<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Gigs</ion-title>
    <ion-buttons end class="search_icon">
      <ion-icon name="ios-search" color="light"></ion-icon>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg_clr">
  <ion-card *ngFor="let gig of gigs">
    <ion-card-title>
      <div class="post-picture-details">
        <div class="profile-user-details">
          <div class="user-name">{{gig.title}}</div>
        </div>
      </div>
    </ion-card-title>
      <div class="image-box">
         <span class="pricetag">2600</span>
         <!--<img src="assets/img/1.jpg"  (click)="showModal('assets/img/1.jpg');"/>-->
           <ion-slides pager="true" parallax="true" padding>

                  <ion-slide>
                    <img src="{{gig.image1}}" (click)="showModal(gig.image1);">
                  </ion-slide>

                  <ion-slide>
                    <img src="{{gig.image2}}" (click)="showModal(gig.image2);">
                  </ion-slide>

                  <ion-slide>
                    <img src="{{gig.image3}}" (click)="showModal(gig.image3);">
                  </ion-slide>

            </ion-slides>

      </div>
    <ion-card-content>
      <p style="color: #777;">
        {{gig.description}}
      </p>
    </ion-card-content>

    <ion-row class="brdr-tp">
    <ion-col center>
      <button ion-button icon-left clear small no-padding>
        <ion-note>
          <ion-icon name="locate"></ion-icon>
          <ion-badge item-right>5 K.m</ion-badge>   
        </ion-note>
      </button>
    </ion-col>
    <ion-col center text-right>
      <ion-note>
          <ion-icon name="eye" item-left></ion-icon>
          <ion-badge item-right>{{gig.views}}</ion-badge>
      </ion-note>
    </ion-col>
    <ion-col center text-right>
      <ion-note>
          <span item-right>{{gig.time}}</span>
      </ion-note>
    </ion-col>
  </ion-row>
  </ion-card>

<!-- fab to add product -->
<ion-fab bottom right (click)="addgig()">
  <button ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
</ion-fab>

</ion-content>